<form id="TweetForm" name="TweetForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: TweetForm.text.$invalid}">
        <label for="text" class="control-label">Text</label>
        <div id="textControls" class="controls">
            <input id="text" name="text" type="text" ng-maxlength="140" ng-model="tweet.text" placeholder="Enter the Tweet Text"></input>
            <span class="help-inline" ng-show="TweetForm.text.$error.maxlength">maximum length is 140</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: TweetForm.createdOn.$invalid}">
        <label for="createdOn" class="control-label">Created On</label>
        <div id="createdOnControls" class="controls">
            <input id="createdOn" name="createdOn" type="date" ng-model="tweet.createdOn" placeholder="Enter the Tweet Created On"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: TweetForm.postedBy.$invalid}">
        <label for="postedBy" class="control-label">Posted By</label>
        <div id="postedByControls" class="controls">
        <select id="postedBy" name="postedBy" ng-model="postedBySelection" ng-options="p.text for p in postedBySelectionList" required >
            <option value="">Choose a Posted By</option>
        </select>
        <span class="help-inline" ng-show="TweetForm.postedBy.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveTweet" name="saveTweet" class="btn btn-primary" ng-disabled="isClean() || TweetForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteTweet" name="deleteTweet" class="btn btn-danger" ng-show="tweet.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>